# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Extension
*.pem

# IDEs
.vscode/
.idea/

# Environment and Data
.env
*.db
logs/
BackEnd/logs/
/BackEnd/instance/
BackEnd/instance/
