# Backend Requirements
flask
flask-cors
flask-sqlalchemy
flask-jwt_extended
flask-limiter
flask-marshmallow
marshmallow-sqlalchemy
flask-talisman
python-dotenv
requests
python-whois
pyotp
pyopenssl
cryptography
psycopg2-binary
twilio

# Machine Learning Requirements
pandas
scikit-learn
joblib
python-Levenshtein
numpy
